body {
  background: url('https://wallpapershome.com/images/wallpapers/polygon-1920x1080-4k-hd-wallpaper-android-wallpaper-triangle-3519.jpg');
  
  background-size: cover;
  display: flex;
  font-family: "Muli", sans-serif;
}

.contract,
.existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.265);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #ffffff;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
  position: relative;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}
input[type="text"]:focus{
 border: 2px solid #6ef995;
}

.button {
  background-color: #6ef995;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.265);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #ffffff;
  text-align: center;
}
